.slider {
    background-color:#F9F9F9 ;
    padding: 30px 0px;
    &__carousel {
        display: flex;
        flex-direction: column;

        @media @screen-gt-s {
            flex-direction: row-reverse;
        }
    }
    &__image {
        max-width: 289px;
        align-items: center;
    }

    &__clothes {
        font-size: 26px;
        text-align: center;
        margin-top: 39px;

        @media @screen-gt-s {
            margin-top: 0px;
            text-align: left;   
        }
    }

    &__button {
        width: 150px;
        height: 38px;
        padding: 0px;
        margin-top: 20px;
        margin-left:65px;
        
        @media @screen-gt-s {
            margin-left: 0;
        }
    }

    &__ellipse-conteiner {
        display: flex;
        position: absolute;
        top: 310px;
        left: 50%;
        transform: translateX(-50%);

        @media @screen-gt-s {
            top: 336px;
        }
    }

    &__ellipse {
        width: 8px;
        height: 12px;
        border-radius: 100%;
        background-color: #DFDEDD;
        margin-left: 4px;
        border-width: 0;

        &__active {
            background-color: @color-dark;
        }
    }

    &__ellipse:hover {
        background-color: @color-dark;
    }
} 